@import "../../.././../scss/variables";
@import "../../.././../scss/mixins";

form {
  text-align: center;

  h2 {
    text-align: center;
  }

  input[type="text"],
  input[type="password"] {
    padding: 3px;
    outline: none;
    border-radius: 4px;
    width: 300px;
    border: 1px solid #b6b6b6;
    background-color: whitesmoke;
    transition: 0.3s ease-in-out box-shadow, 0.3s ease-in-out border;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }

    @include mobile {
      width: 200px;
    }

    &:focus {
      box-shadow: 0px 5px 10px #b9b9b9;
      border: 1px solid $blue-3;
    }
  }

  button {
    padding: 8px 35px 8px 35px;
    border: none;
    background-color: $blue-3;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color, 0.2s ease-in-out transform;

    &:hover {
      background-color: $darkcyan-1;
      transform: translateY(-5px);
    }

    &:disabled {
      background-color: #b4b4b4;
      cursor: not-allowed !important;
    }

    &:disabled:hover {
      transform: translateY(0px) !important;
    }
  }

  p a {
    color: $blue-3;
  }

  .spinner {
    position: absolute;
    right: 5px;
    top: -2px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .spinner:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: $blue-3 transparent $blue-3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
