<form [formGroup]="form" (ngSubmit)="onSignup()">
  <h2 class="mb-5">Sign Up</h2>
  <div style="position: relative">
    <input
      class="mb-1"
      formControlName="email"
      type="text"
      placeholder="E-mail"
    />
    <div *ngIf="fetchingEmail" class="spinner"></div>
  </div>
  <p
    *ngIf="
      !form.get('email')?.valid &&
      form.get('email')?.touched &&
      !form.get('email')!.hasError('emailExists') &&
      !fetchingEmail
    "
    style="color: red; margin-bottom: 5px"
  >
    <fa-icon [icon]="dangerIcon"></fa-icon> Please enter a valid email
  </p>
  <p
    *ngIf="form.get('email')!.hasError('emailExists')"
    style="color: red; margin-bottom: 5px"
  >
    <fa-icon [icon]="dangerIcon"></fa-icon> This email is in use!
  </p>
  <div class="mb-1"></div>
  <input class="mb-1" formControlName="name" type="text" placeholder="Name" />
  <p
    *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
    style="color: red; margin-bottom: 5px"
  >
    <fa-icon [icon]="dangerIcon"></fa-icon> Name is required
  </p>
  <div class="mb-1"></div>
  <input
    class="mb-1"
    formControlName="password"
    type="password"
    placeholder="Password"
  />
  <p
    *ngIf="!form.get('password')?.valid && form.get('password')?.touched"
    style="color: red; margin-bottom: 5px"
  >
    <fa-icon [icon]="dangerIcon"></fa-icon> Minimum password length: 6
  </p>
  <div class="mb-1"></div>
  <input
    class="mb-1"
    formControlName="confirmPassword"
    type="password"
    placeholder="Confirm Password"
  />
  <p
    *ngIf="
      form.getError('passwordDontMatch') &&
      form.get('confirmPassword')?.touched &&
      form.get('password')?.touched
    "
    style="color: red; margin-bottom: 5px"
  >
    <fa-icon [icon]="dangerIcon"></fa-icon> Password don't match!
  </p>
  <div class="mb-1"></div>
  <button type="submit" class="mt-3" [disabled]="!form.valid">Sign Up</button>
  <p class="mt-3">
    Already have an account? <a [routerLink]="['/auth', 'login']">Log in</a>
  </p>
</form>
