<div *ngIf="!loading" class="page">
  <div
    *ngIf="chatMenu || usersListMenu"
    (click)="closeMenu()"
    class="dark-overlay"
  ></div>
  <div [ngClass]="{ show: usersListMenu }" class="users-list">
    <app-users-list [users]="usersList"></app-users-list>
  </div>
  <div class="room">
    <app-video-chat
      [users]="users"
      [speakers]="speakers"
      (showMenuEvent)="onShowMenu($event)"
    ></app-video-chat>
  </div>
  <div [ngClass]="{ show: chatMenu }" class="chat">
    <app-chat [chatMessages]="chatMessages"></app-chat>
  </div>
  <div (click)="closeMenu()" *ngIf="usersListMenu" class="closeIcon">
    <div>
      <fa-icon [icon]="closeIcon"></fa-icon>
    </div>
  </div>
  <div (click)="closeMenu()" *ngIf="chatMenu" class="closeIcon closeIconLeft">
    <div>
      <fa-icon [icon]="closeIcon"></fa-icon>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  size="medium"
  color="#4ba0f1"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
