<div class="wrapper">
  <div
    [ngClass]="{ self: checkMessageOwner(message_) }"
    class="message"
    #message_
    *ngFor="let message of chatMessages"
    [attr.data-email]="message.email"
  >
    <p class="messageOwner">{{ message.name }}</p>
    <p class="messageText">{{ message.message }}</p>
  </div>
</div>
<form #frm="ngForm" (ngSubmit)="onSendMessage(frm)">
  <input
    name="message"
    required
    ngModel
    pattern="^(?!\s*$).+"
    placeholder="Type a message"
    type="text"
  />
  <button type="submit" [disabled]="!frm.valid">Send</button>
</form>
