@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "scss/variables";
@import "scss/mixins";
@import "scss/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

html,
body {
  height: 100vh;

  @include mobile {
    height: auto !important;
  }
}
