@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin media($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #d8d8d8;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
