$font-primary: "Roboto", sans-serif;
$blue-1: #03045e;
$blue-2: #03045e;
$blue-3: #0077b6;
$darkcyan-1: #0096c7;
$darkcyan-2: #00b4d8;
$darkcyan-3: #00b4d8;
$lightcyan-1: #90e0ef;
$lightcyan-2: #ade8f4;
$lightcyan-3: #caf0f8;
