<nav>
  <div class="container">
    <h2>STREAMINGIT</h2>
    <div class="wrapper" *ngIf="!isLoading">
      <p *ngIf="isAuth">
        Hello, <span>{{ userInfo.userInfo.name }}</span>
      </p>
      <a *ngIf="!isAuth" [routerLink]="['/auth', 'login']">Log in</a>
      <a *ngIf="isAuth" class="logout" (click)="onLogout()">Log out</a>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          <span>Connect</span> with Students & Professors like never before!
        </h1>
        <p>
          Enjoy high resolution video / audio chats, check out the screen
          sharing for lectures <br />
          <span>(Please note that the session cannot exceed 3 hours)</span>
        </p>
      </div>
      <div class="col-md-5">
        <div class="buttons">
          <a (click)="onGenerateRoom()" style="cursor: pointer"
            >Generate room</a
          >
          <a (click)="onOpenJoinForm()" style="cursor: pointer">Join room</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div
  *ngIf="auth || message"
  class="dark-overlay"
  (click)="onAuthNavigation()"
></div>
<div class="message" *ngIf="message">
  <div (click)="onAuthNavigation()" class="close-icon">
    <fa-icon [icon]="closeIcon"></fa-icon>
  </div>
  <p *ngIf="message !== 'join'">{{ message }}</p>
  <div *ngIf="message === 'join'">
    <form #joinForm="ngForm" (ngSubmit)="onJoinRoom(joinForm)">
      <input
        name="code"
        required
        minlength="36"
        ngModel
        type="text"
        placeholder="Enter room code"
      />
      <br />
      <button [disabled]="!joinForm.valid" type="submit">Join</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <app-footer></app-footer>
</footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.6)"
  size="medium"
  color="#4ba0f1"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
