@import "../../scss/variables";
@import "../../scss/mixins";

nav {
  padding: 1.3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba($color: #ffffff, $alpha: 0.3);

  .wrapper {
    display: flex;
    p {
      align-self: center;
      margin: 0px 15px 0px 0px;
      span {
        color: $blue-3;
        font-weight: bold;
      }
    }

    @include mobile {
      p {
        margin: 0 !important;
        position: absolute;
        bottom: 0;
        left: 30px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    h2 {
      letter-spacing: 7px;
      color: #fc7474;
      margin: 0 !important;
      align-self: center;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
      padding: 10px 30px 10px 30px;
      border-radius: 10px;
      align-self: center;
      background: linear-gradient(325deg, $darkcyan-2, $darkcyan-1);
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    a.logout {
      background: #f56565;
    }
  }

  @include tablet {
    h2 {
      letter-spacing: 3px;
      font-size: 1.5rem;
    }
  }

  @include mobile {
    padding: 1rem 1rem 2rem 1rem;
    h2 {
      font-size: 1.3rem;
      letter-spacing: 1.7px !important;
      align-self: center !important;
    }
    a {
      font-size: 0.8rem;
      padding: 5px 15px 5px 15px !important;
      border-radius: 5px !important;
    }
  }
}

header {
  height: 100vh;
  background: url("../../assets/bg-animated.svg");
  background-size: cover;
  padding-bottom: 50px;

  .container,
  .row {
    height: 100%;
  }

  @include tablet {
    background-position: -150px;
    background-repeat: no-repeat;
  }

  @include mobile {
    background-position: -250px;
  }

  .row {
    h1 {
      margin-top: 200px;
      color: white;

      span {
        color: $lightcyan-1;
        font-weight: bold;
      }
    }
    p {
      width: 400px;
      color: #d8d8d8;
      margin-top: 30px;
      font-size: 1.4rem;

      span {
        font-weight: bold;
      }

      @include mobile {
        width: fit-content;
      }
    }
  }

  .buttons {
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;

    a {
      text-align: center;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: #525252;
      color: white;
      border: 2px solid #3a3a3a;
      border-radius: 10px;
      padding: 5px;
      transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;

      &:hover {
        opacity: 0.65;
        transform: translateY(-10px);
        box-shadow: 0px 10px 10px 0px black;
      }
    }

    @include tablet {
      margin-top: 0 !important;
    }

    @include media(992px) {
      margin-top: 150%;
    }

    @include media(567px) {
      height: 100px;
      a {
        font-size: 1.2rem;
        padding: 2px !important;
      }
    }
  }
}

.dark-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  animation: dark-overlay 0.5s;
  transition: 0.5s opacity;
}

.message {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 35%;
  min-width: 200px;
  min-height: 100px;
  width: 500px;
  margin: auto;
  padding: 20px 50px 20px 50px;
  background-color: white;
  z-index: 20;
  border-radius: 10px;
  color: red;
  animation: message 400ms ease-in-out;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  @include tablet {
    width: 95%;
  }

  p {
    margin: 0 !important;
    align-self: center;
  }

  form {
    font-size: 1rem;
    text-align: center;

    input[type="text"] {
      padding: 3px;
      outline: none;
      text-align: center;
      margin-bottom: 15px;
      border-radius: 4px;
      width: 300px;
      border: 1px solid #b6b6b6;
      background-color: whitesmoke;
      transition: 0.3s ease-in-out box-shadow, 0.3s ease-in-out border;

      &.ng-invalid.ng-touched {
        border: 1px solid red;
      }

      @include mobile {
        width: 200px;
      }

      &:focus {
        box-shadow: 0px 5px 10px #b9b9b9;
        border: 1px solid $blue-3;
      }
    }

    button {
      padding: 8px 35px 8px 35px;
      border: none;
      background-color: $blue-3;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s ease-in-out background-color, 0.2s ease-in-out transform;

      &:hover {
        background-color: $darkcyan-1;
        transform: translateY(-5px);
      }

      &:disabled {
        background-color: #b4b4b4;
        cursor: not-allowed !important;
      }

      &:disabled:hover {
        transform: translateY(0px) !important;
      }
    }
  }

  .close-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

@keyframes dark-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes message {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
