<nav>
  <div class="container">
    <h2>STREAMINGIT</h2>
    <div class="wrapper" *ngIf="!isLoading">
      <p *ngIf="isAuth">
        Hello, <span>{{ userInfo.userInfo.name }}</span>
      </p>
      <a *ngIf="!isAuth" [routerLink]="['/auth', 'login']">Log in</a>
      <a *ngIf="isAuth" class="logout" (click)="onLogout()">Log out</a>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          <span>Connect</span> with Students & Professors like never before!
        </h1>
        <p>
          Enjoy high resolution video / audio chats, check out the screen
          sharing for lectures <br />
          <span>(Please note that the session cannot exceed 3 hours)</span>
        </p>
      </div>
      <div class="col-md-5">
        <div class="buttons">
          <a [routerLink]="['/room', 'login']">Generate room</a>
          <a href="#">Join room</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div *ngIf="auth" class="dark-overlay" (click)="onAuthNavigation()"></div>
<router-outlet></router-outlet>
<footer>
  <app-footer></app-footer>
</footer>
