@import "../../../scss/mixins";
@import "../../../scss/variables";

.wrapper {
  height: 100vh;
  overflow: auto;
  padding: 40px 10px 90px 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  position: relative;
  z-index: 5;
  grid-template-rows: repeat(3, 1fr);
  @include scrollbar;

  .copylink {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    text-align: center;

    .copywrapper {
      width: 240px;
      margin: auto;
      transition: 300ms ease-in-out background-color;
      padding: 5px 40px 5px 40px;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
      background-color: $blue-1;

      &:hover {
        background-color: $blue-3;
      }
    }
  }

  .user {
    background-color: black;
    border-radius: 10px;
    grid-column: span 6;
    animation: user 0.6s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    video {
      z-index: 1;
    }

    p {
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 10px;
      font-size: 1.5rem;
      color: white;
      opacity: 0;
      transition: 400ms ease-in-out opacity;
    }

    &:hover {
      p {
        opacity: 1;
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

    .user {
      height: 220px;
    }
  }
}

.speakers {
  position: fixed;
  bottom: 10px;
  max-height: 150px;
  overflow-y: auto;
  left: 10px;
  color: white;
  font-size: 1.4rem;
  @include scrollbar;

  @include mobile {
    bottom: 80px;
  }

  .speaker {
    animation: speaker 0.3s ease-in-out;
  }
}

@mixin control {
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.controls {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;

  .controls-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .control {
    @include control;
    background-color: black;
    color: white;
    width: 55px;
    animation: user ease-in-out 300ms;

    &.leave {
      background-color: red;
    }

    &.leave:hover {
      background-color: lighten($color: red, $amount: 15);
    }

    &:hover {
      background-color: lighten($color: black, $amount: 15);
    }

    &.enabled {
      background-color: white;
      color: black;
    }

    &.enabled:hover {
      background-color: darken($color: white, $amount: 15);
    }

    &.switch {
      background-color: $blue-1 !important;
    }
  }
}

.controls-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  top: 20px;
  justify-content: space-between;

  @include tablet {
    display: flex !important;
  }

  .control {
    @include control;
    background-color: white;
    width: 60px;

    &:hover {
      background-color: darken($color: white, $amount: 15);
    }
  }
}

@keyframes speaker {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes user {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
