<div class="wrapper">
  <div class="copylink" (click)="onCopyRoomLink(copydiv)">
    <div class="copywrapper">
      <span #copydiv>Copy room code </span>
      <fa-icon [icon]="copyIcon"></fa-icon>
    </div>
  </div>
  <div
    class="user"
    #user_
    (click)="onFullscreen(user_)"
    [ngStyle]="{ display: !checkEnabled(0).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(0).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-0'"
    >
      <p>{{ checkEnabled(0).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_1
    (click)="onFullscreen(user_1)"
    [ngStyle]="{ display: !checkEnabled(1).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(1).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-1'"
    >
      <p>{{ checkEnabled(1).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_2
    (click)="onFullscreen(user_2)"
    [ngStyle]="{ display: !checkEnabled(2).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(2).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-2'"
    >
      <p>{{ checkEnabled(2).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_3
    (click)="onFullscreen(user_3)"
    [ngStyle]="{ display: !checkEnabled(3).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(3).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-3'"
    >
      <p>{{ checkEnabled(3).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_4
    (click)="onFullscreen(user_4)"
    [ngStyle]="{ display: !checkEnabled(4).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(4).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-4'"
    >
      <p>{{ checkEnabled(4).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_5
    (click)="onFullscreen(user_5)"
    [ngStyle]="{ display: !checkEnabled(5).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(5).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-5'"
    >
      <p>{{ checkEnabled(5).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_6
    (click)="onFullscreen(user_6)"
    [ngStyle]="{ display: !checkEnabled(6).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(6).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-6'"
    >
      <p>{{ checkEnabled(6).name }}</p>
    </div>
  </div>
  <div
    class="user"
    #user_7
    (click)="onFullscreen(user_7)"
    [ngStyle]="{ display: !checkEnabled(7).enabled ? 'none' : 'block' }"
  >
    <div
      *ngIf="checkEnabled(7).enabled"
      class="vid-container"
      style="width: 100%; height: 100%"
      [id]="'stream-7'"
    >
      <p>{{ checkEnabled(7).name }}</p>
    </div>
  </div>
  <div class="speakers">
    <div class="speaker" *ngFor="let speaker of speakers">
      <fa-icon [icon]="speakerIcon"></fa-icon>
      {{ speaker }}
    </div>
  </div>
  <div class="controls">
    <div class="controls-wrapper">
      <div
        (click)="toggleVideo()"
        [title]="video ? 'Disable video' : 'Enable video'"
        [ngClass]="{ enabled: video }"
        class="video control"
      >
        <fa-icon *ngIf="video" [icon]="videoIcon"></fa-icon>
        <fa-icon *ngIf="!video" [icon]="videoDisabledIcon"></fa-icon>
      </div>
      <div
        (click)="toggleAudio()"
        [ngClass]="{ enabled: audio }"
        [title]="audio ? 'Mute' : 'Unmute'"
        class="audio control"
      >
        <div class="note" #note>
          If you are not talking much, please consider muting the microphone as
          it occupies extra application resources for no reason <br />
          Thank you in advance!
          <div class="close-note" (click)="onCloseNote(note)">
            <span style="cursor: pointer">Got it!</span>
          </div>
        </div>
        <fa-icon *ngIf="audio" [icon]="audioIcon"></fa-icon>
        <fa-icon *ngIf="!audio" [icon]="audioMutedIcon"></fa-icon>
      </div>
      <div
        (click)="toggleScreen()"
        [ngClass]="{ enabled: screen }"
        [title]="screen ? 'Stop sharing' : 'Share screen'"
        class="screen control"
      >
        <fa-icon [icon]="screenIcon"></fa-icon>
      </div>
      <div
        (click)="swapVideo()"
        *ngIf="video && camerasId.length > 1"
        [title]="'Switch camera'"
        class="switch control"
      >
        <fa-icon [icon]="swapIcon"></fa-icon>
      </div>
      <div class="leave control" [routerLink]="['/']" [title]="'Leave meeting'">
        <fa-icon [icon]="leaveIcon"></fa-icon>
      </div>
    </div>
  </div>
  <div class="controls-mobile">
    <div (click)="showMenu('users')" class="usersList control">
      <fa-icon [icon]="usersListIcon"></fa-icon>
    </div>
    <div (click)="showMenu('chat')" class="chat control">
      <fa-icon [icon]="chatIcon"></fa-icon>
    </div>
  </div>
</div>
